body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(10):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child(11):before {
    background-color: #F4374F;
}
.sidebar-nav li:nth-child:before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}


.instanceSearch {
  padding-bottom:10px !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
  padding-right: 10px !important;
  text-decoration: none !important;
}

.dashboardCompanyContent{
  text-align: center;
  margin-top: 20px;
  width: 95%;
  margin: 20px auto 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.row .square-regular {
  border: 1px solid #E4E7E7;
  box-sizing: border-box;
  border-radius: 1px;
  padding-bottom: 20px
}

.square-vertical-align {
  margin-top: 20px;
  font-family: 'Roboto';
}

.square-number {
  margin-top: 5px;
  font-size: 21px;
  font-family: 'Roboto'
}

.square-active-selected {
  background: #EF3A4D !important;
  color: white !important;
  border-color: #EF3A4D !important;
}

.small-padding {
  margin-left: -28px;
}

.wrapper {
  display: flex;
  min-height: 588px;
  position: absolute;
  width: 100%;
  height: 100%
}

.sidebar {
  min-width: 305px;
  max-width: 305px;
  background-color: #FCFCFC;
  color: #828282;
  font-size: 13px;
}

.img-mock {
  padding-left: 20px;
  padding-top: 20px;
}

.filters {
  padding-left: 30px;
  padding-right: 30px;
  border-top: 1px solid #F5F5F5;
  margin-top: 30px;
  padding-top: 20px;
}

.empty_image {
  width: 13%;
}

@media only screen and (max-device-width: 480px) {
  body {
    font-size: 20px;
  }

}

/* -------------------------------- */
/* CHECKBOX E RADIO */
/* -------------------------------- */
.pure-checkbox {
  height: auto;
}
.pure-checkbox input[type="checkbox"],
.pure-radiobutton input[type="checkbox"],
.pure-checkbox input[type="radio"],
.pure-radiobutton input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.pure-checkbox input[type="checkbox"]:hover + label:before,
.pure-radiobutton input[type="checkbox"]:hover + label:before,
.pure-checkbox input[type="radio"]:hover + label:before,
.pure-radiobutton input[type="radio"]:hover + label:before {
  border-color: #2f80ed;
  background-color: #f2f2f2;
}
.pure-checkbox input[type="checkbox"]:active + label:before,
.pure-radiobutton input[type="checkbox"]:active + label:before,
.pure-checkbox input[type="radio"]:active + label:before,
.pure-radiobutton input[type="radio"]:active + label:before {
  transition-duration: 0s;
}
.pure-checkbox input[type="checkbox"] + label,
.pure-radiobutton input[type="checkbox"] + label,
.pure-checkbox input[type="radio"] + label,
.pure-radiobutton input[type="radio"] + label {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  height: 17px;
}
.pure-checkbox input[type="checkbox"] + label:before,
.pure-radiobutton input[type="checkbox"] + label:before,
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color: #2f80ed;
  position: absolute;
  top: 8%;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #888888;
  border-radius: 3px;
  text-align: center;
  transition: all 0.4s ease;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #2f80ed;
  position: absolute;
  top: 28%;
  left: 4px;
  width: 8px;
  height: 8px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 100ms ease-out;
}
.pure-checkbox input[type="checkbox"] + label.activeBorderColor:before,
.pure-radiobutton input[type="checkbox"] + label.activeBorderColor:before,
.pure-checkbox input[type="radio"] + label.activeBorderColor:before,
.pure-radiobutton input[type="radio"] + label.activeBorderColor:before,
.pure-checkbox input[type="checkbox"]:checked + label:before,
.pure-radiobutton input[type="checkbox"]:checked + label:before,
.pure-checkbox input[type="radio"]:checked + label:before,
.pure-radiobutton input[type="radio"]:checked + label:before {
  border: 2px solid #2f80ed !important;
}
.pure-checkbox input[type="checkbox"]:disabled + label:before,
.pure-radiobutton input[type="checkbox"]:disabled + label:before,
.pure-checkbox input[type="radio"]:disabled + label:before,
.pure-radiobutton input[type="radio"]:disabled + label:before {
  border-color: #cccccc;
}
.pure-checkbox input[type="checkbox"]:disabled:focus + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:focus + label:before,
.pure-checkbox input[type="radio"]:disabled:focus + label:before,
.pure-radiobutton input[type="radio"]:disabled:focus + label:before,
.pure-checkbox input[type="checkbox"]:disabled:hover + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:hover + label:before,
.pure-checkbox input[type="radio"]:disabled:hover + label:before,
.pure-radiobutton input[type="radio"]:disabled:hover + label:before {
  background-color: inherit;
}
.pure-checkbox input[type="checkbox"]:disabled:checked + label:before,
.pure-radiobutton input[type="checkbox"]:disabled:checked + label:before,
.pure-checkbox input[type="radio"]:disabled:checked + label:before,
.pure-radiobutton input[type="radio"]:disabled:checked + label:before {
  background-color: #cccccc;
}
.pure-checkbox input[type="checkbox"] + label:after,
.pure-radiobutton input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 28%;
  left: 3px;
  width: 8px;
  height: 3px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 100ms ease-out;
}
.pure-checkbox input[type="radio"]:checked + label:before,
.pure-radiobutton input[type="radio"]:checked + label:before {
  animation: borderscale 150ms ease-in;
  background-color: white;
}
.pure-checkbox input[type="radio"]:checked + label:after,
.pure-radiobutton input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.pure-checkbox input[type="radio"] + label:before,
.pure-radiobutton input[type="radio"] + label:before,
.pure-checkbox input[type="radio"] + label:after,
.pure-radiobutton input[type="radio"] + label:after {
  border-radius: 50%;
}
.pure-checkbox input[type="checkbox"]:checked + label:before,
.pure-radiobutton input[type="checkbox"]:checked + label:before {
  animation: borderscale 100ms ease-in;
  background: #2f80ed;
}
.pure-checkbox input[type="checkbox"]:checked + label:after,
.pure-radiobutton input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg) scale(1);
}
@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #2f80ed;
  }
}

/* -- label styles ---------------------------------- */

.pure-checkbox input[type="checkbox"]:checked + label,
.pure-radiobutton input[type="checkbox"]:checked + label {
  color: #2f80ed;
}

.pure-checkbox input[type="checkbox"]:disabled + label,
.pure-radiobutton input[type="checkbox"]:disabled + label {
  color: grey;
}

/* LOADER */

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #EF3A4D;
  top: 50%;
  animation: loader 2s infinite ease;

  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #EF3A4D;
    animation: loader-inner 2s infinite ease-in;
  }
}

/* new loading */
.loading-box{
  display: inline-block;
  position: relative;
  top: 50%;
}
.loading-main-box {
  position: relative;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color:#EF3A4D;
  display:block;

  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 1s;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;

  &:before {
    content: '';
    position: absolute;
    top: 81%;
    left: 76.5%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-bottom: 4.85px solid #FFF;
    width: 19px;
    height: 0;

	-webkit-animation-name: cursor;
  -webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-duration: 1.2s;
  animation-name: cursor;
  animation-duration: 1.2s;
	animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

@keyframes cursor {
  from {border-bottom: 4.85px solid #FFF; opacity:1}
  to {border-bottom: 4.85px solid #EF3A4D; opacity:1}
}

@keyframes rotate {
  from {transform: rotate(-30deg);}
  to {transform: rotate(0deg);}
}
/* new loading */

/* LOADER FULL PAGE*/

.fullloader-container{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  background-color: rgba(0,0,0,0.8);
  z-index: 99;
  text-align: center;
  display: none;
}

.fullloader {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 4px solid #EF3A4D;
  margin-top: 20%;
  margin-bottom: 50px;
  animation: loader 2s infinite ease;

  .fullloader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #EF3A4D;
    animation: loader-inner 2s infinite ease-in;
  }
}

.fullloader-text{
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto';
}

@keyframes loader {
  0% { transform: rotate(45deg);}
  25% { transform: rotate(225deg);}
  50% { transform: rotate(225deg);}
  75% { transform: rotate(45deg);}
  100% { transform: rotate(45deg);}
}

@keyframes loader-inner {
  0% { height: 0%; }
  25% { height: 0%; }
  50% { height: 100%; }
  75% { height: 100%; }
  100% { height: 0%; }
}

/* New Loader - Wave/Bars */
.loaderModal {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 40px;
}
.loaderModal h3 {
  color: #337AB7;
}
.loaderModal h4 {
  color: #6B6B6B;
}
.loader_container{
  margin: 10% 40% 5% 40%;
  height: 1px;
}

#preloader{
    position:relative;
}
#preloader span{
    display:block;
    bottom:0px;
    width: 9px;
    /*height: 10px;*/
    background:#9C9C9C;
    position:absolute;
    animation: preloader 2.2s  infinite ease-in-out;
}

#preloader span:nth-child(2){ left:11px; animation-delay: .2s; }
#preloader span:nth-child(3){ left:22px; animation-delay: .3s; }
#preloader span:nth-child(4){ left:33px; animation-delay: .4s; }
#preloader span:nth-child(5){ left:44px; animation-delay: .5s; }
#preloader span:nth-child(6){ left:55px; animation-delay: .6s; }
#preloader span:nth-child(7){ left:66px; animation-delay: .7s; }
#preloader span:nth-child(8){ left:77px; animation-delay: .8s; }
#preloader span:nth-child(9){ left:88px; animation-delay: .9s; }
#preloader span:nth-child(10){ left:99px; animation-delay: 1s; }
@keyframes preloader {
    0% {height:20px;transform:translateY(0);background:#9C9C9C;}
    25% {height:90px;transform:translateY(30px);background:#337ab7;}
    50% {height:20px;transform:translateY(0);background:#9C9C9C;}
    100% {height:20px;transform:translateY(0);background:#9C9C9C;}
}
/* New Loader - Wave/Bars */


div.angrytext {
 width: 50px;
 height: 50px;
 display: block;
 font-size:70px;
 font-weight:bold;
 color:red;
 width:300px;
 margin:90px auto;

 -webkit-animation: rotate 3s linear 0s infinite normal ;
 animation: rotate 3s linear 0s infinite normal ;
}

@-webkit-keyframes rotate {
  100%{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}

@keyframes rotate {
  100%{
	transform: rotate(360deg);
  }
}

.quadrado {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #EF3A4D;
  top: 50%;
}

/* BUTTON */
.btn-default {
  border-color: #ddd;
}
.btn-default:hover{
  background-color: #fcfcfc;
}
.btn-default:focus{
  background-color: #fcfcfc;
}
.btn-default:active{
  background-color: #fcfcfc;
}

.btn-flux {
  background-color: #BDBDBD;
  width: 128px;
  color:#FFFFFF;
  font-family: 'Roboto'
}

.btn-flux:hover {
  color: #FFFFFF;
}

.btn-flux:active {
  color: #FFFFFF;
}

.btn-flux:focus {
  color: #FFFFFF;
}

.btn-flux-primary {
  background-color: #2196F3;
  width: 128px;
  color: #FFFFFF;
  font-family: 'Roboto'
}

.btn-flux-primary:hover {
  color: #FFFFFF;
  background-color: #2196F3
}

.btn-flux-primary:focus {
  color:#FFFFFF;
}

.dropdown-flux {
  background: #FFFFFF;
  border: 1px solid #2196F3;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px #E0E0E0;
  border-radius: 2px;

}

.btn-flux-step {
  width: 180px;
  height: 32px;

}

/* NOTIFICATION */

.notificationIcon {
  font-size: 14px;
  color: #999999;
}

.notificationIcon:hover {
  color:#767676
}

.notificationIcon:active {
  color: #2196F3;
}

.caret {
  margin-top: 2px;
  &:after {
    content: "\e9c6"
  }
}

/* TABS */

.tab-col {
  border: 1px solid #E0E0E0;
  height: 65px;
}

.tab-rows {
  vertical-align: middle;
  margin: 20px 0px;
}

.tab-img-default {
  background: url('./public/img/arrow-right-tab.svg')
}
